h1{
    background-color: rgb(107, 161, 121);
    size: 40px;
}
h6{
    background-color: rgb(107, 161, 121);
    color: black;
    font-size: 14px;
}
p{
    color: black;
}
table{
    width: 100%;
    
    color: rgb(107, 161, 121);
}
